extends base.pug

block scripts
    script(src='../static/index.js')

block style 
    style 
        include ../static/style.css
        //-we must have to define specific style.css file for specific ones(like, for contact, it must have different style.css)

block content 
    section#introSection
        div Welcome To SSV Dance Academy 
        div#small Unleash Your Dance Abilities Now
    section#missionSection
        h2 Our Mission
        .cards
            div.card 
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="../static/img/3.png", alt="")
                    div.card-content
                        p This the best dance academy for you
            div.card 
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="../static/img/2.png", alt="")
                    div.card-content
                        p This the best dance academy for you
            div.card 
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="../static/img/3.png", alt="")
                    div.card-content
                        p This the best dance academy for you
    section#sponsorSection
        h2 Our Sponsors 
        #sponsors 
            img(src="../static/img/logo1.jpg", alt="Sponsor Image", class='spImage')
            img(src="../static/img/logo2.png", alt="Sponsor Image", class='spImage')
            img(src="../static/img/logo3.png", alt="Sponsor Image", class='spImage')
            img(src="../static/img/logo4.png", alt="Sponsor Image", class='spImage')